
footer.text-center
    .footer-above
        .container
            .row
                .footer-col.col-md-4
                    h3= footer.title1
                    p= footer.text1
                .footer-col.col-md-4
                    h3= footer.title2
                    ul.list-inline
                        li
                            a(href=footer.facebook).btn-social.btn-outline
                                i.fa.fa-fw.fa-facebook
                        li
                            a(href=footer.googleplus).btn-social.btn-outline
                                i.fa.fa-fw.fa-google-plus
                        li
                            a(href=footer.twitter).btn-social.btn-outline
                                i.fa.fa-fw.fa-twitter
                        li
                            a(href=footer.linkedin).btn-social.btn-outline
                                i.fa.fa-fw.fa-linkedin
                        li
                            a(href=footer.dribble).btn-social.btn-outline
                                i.fa.fa-fw.fa-dribbble
                .footer-col.col-md-4
                    h3= footer.title3
                    p= footer.text3
    .footer-below
        .container
            .row
                .col-lg-12=footer.copyright