section(id=portfolio.nav_name.replace(' ', '-').toLowerCase()).portfolio-section
    .container
        .row
            .col-lg-12.text-center
                h2= portfolio.title
                hr.star-primary
        .row
            each project in portfolio.projects
                .col-sm-4.portfolio-item
                    a(href="#" + project.modal, data-toggle="modal").portfolio-link
                        .caption
                            .caption-content: i.fa.fa-search-plus.fa-3x
                        img(src=project.image, alt="").img-responsive
each modal in portfolio.modals
    .portfolio-modal.modal.fade(id=modal.id, tabindex="-1", role="dialog", aria-hidden="true")
        .modal-content
            .close-modal(data-dismiss="modal")
                .lr
                    .rl
            .container
                .row
                    .col-lg-8.col-lg-offset-2
                        .modal-body
                            h2= modal.title
                            hr.star-primary
                            img(src=modal.image, alt="").img-responsive
                            p= modal.text
                            ul.list-inline.item-details
                                li Client:
                                    strong: a(href=modal.link)=modal.client
                                li Date:
                                    strong: a(href=modal.link)=modal.date
                                li Service:
                                    strong: a(href=modal.link)=modal.service
                            button(type="button", data-dismiss="modal").btn.btn-default
                                i.fa.fa-times
                                = " Close"